
body {
    background-color: #000;
    color: #fff;
     font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    padding: 05px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

header nav ul li a {
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease;
}


header nav ul li a:hover {
    color: #ffcc00; 
}

.welcome h1 {
    font-size: 70px; 
}

.welcome p {
    font-size: 28px; 
}

.carousel {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.carousel-button.prev {
    left: 20px;
}

.carousel-button.next {
    right: 20px;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    transform: translateY(-50%) scale(1.1);
}


.imagen-reducida {
    max-width: 800px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

.info {
    background-color: #000; 
    color: #fff;
    padding: 20px; 
    text-align: center; 
    font-family: 'Mooli', sans-serif;
}

.info h2 {
    font-size: 20px;
    margin-bottom: 10px;
    
}

.info p {
    font-size: 12px;
    margin-bottom: 8px;
}



