

body {
    background-color: #000;
    color: #fff;
     font-family: 'Mooli', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.welcome h1 {
    font-size: 70px; 
}

.welcome p {
    font-size: 28px; 
}

.carousel {
    width: 80%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    display: block;
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.carousel-button-prev {
    left: 10px;
}

.carousel-button-next {
    right: 10px;
}

nav a {
    text-decoration: none;
    color: #fff;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
}

nav a:hover {
    background-color: #666;
    color: #ff7f00; 
}

.imagen-reducida {
    max-width: 800px;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

